@media screen and (max-width: 767px) {

    /*======== navbar =========*/
    .navbar {
        transform-origin: 100%;
        z-index: 9999;
        justify-content: center;
        width: auto;
        height: auto;
        position: fixed;
        top: 89%;
        right: -31px;
        transform: translateY(-50%) rotate(90deg);
        transition: 1s;
    }

     .navbar.open {
    right: 20px;
  }

    .menu-icon img {
        transition: all 1s;
        display: block;
        position: absolute;
        top: 62px;
        right: 480px;
        width: 16px;
        transform: rotate(270deg);
    }

    .navbar.open .menu-icon img {
        transform: rotate(90deg);
    }

     .navbox {
    inset: -50px 0% auto !important;
  }

    /*======== archives page =========*/
    .swiper-slide {
        display: none;
    }

    .swiper-pagination,
    .sliderarrow {
        display: none;
    }

    .scontaerd {
        padding: 5%;
    }

    .swiper-slide {
        min-height: 1050px;
        background-position: 24% 190px;
    }

    .flexcard {
        display: block;
    }

    .mainrightcard {
        width: 100%;
        display: block;
    }



    .notebg {
        position: absolute;
        top: 230px;
        margin: 0 auto;
        width: 45%;
        left: 25%;
    }


    .cardimg {
        width: 225px;
        position: absolute;
        top: 70%;
    }

    .cardimg.rights {
        width: 230px;
        position: absolute;
        top: 96%;
        left: 180px;
    }

    .slidercontent.firstcontent {
        text-align: center;
        width: 50%;
        top: 54px;
        margin: 0 auto;
    }


    .swiper-slide.swiper-slide-active {
        display: block;
    }


    .slidercontent p br {
        display: none;
    }

    .swiper-wrapper {
        transform: translate3d(0, 0, 0) !important;
    }

    /* सिर्फ पहला slide दिखाओ */
    .swiper-slide:not(:first-child) {
        display: none !important;
    }

    /* Arrows & pagination hide */
    .sliderarrow,
    .swiper-pagination {
        display: none !important;
    }


}



@media screen and (max-width: 600px) {
    .imgpaper img {
        display: none;
    }

    img.desktop {
        display: none;
    }

    img.mobile {
        display: block !important;
    }

    .mainforyou {
        height: 100%;
    }

.content-paper {
        padding: 30px;
        left: 0%;
    }

    .imgpaper {
        margin: 0 auto;
    }


.paper1.paperclass, .paper2.paperclass, .paper3.paperclass, .paper4.paperclass {  
    left: 0;
    top: 0;
    right: -205%;
    transition: all 1s;
}

.paper1.paperclass.show, .paper2.paperclass.show, .paper3.paperclass.show, .paper4.paperclass.show {
    right: 0%;
    top: auto;
}










}